.container {
  display: flex;
  justify-content: center;
  h1 {
    text-align: center;
  }
  .changeLogin {
    color: #ff6c44;
    text-decoration: underline;
    font-weight: 600;
    &:hover {
      cursor: pointer;
    }
  }
}

@media (min-width: 768px) {
  .container {
    font-size: var(--size-8);
  }
}
